/* urbanist FONT */
@font-face {
    font-family: urbanist;
    src: url('../fonts/urbanist/Urbanist-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: urbanist;
    src: url('../fonts/urbanist/Urbanist-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: urbanist;
    src: url('../fonts/urbanist/Urbanist-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: urbanist;
    src: url('../fonts/urbanist/Urbanist-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: urbanist;
    src: url('../fonts/urbanist/Urbanist-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: urbanist;
    src: url('../fonts/urbanist/Urbanist-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


/* WEIGHT */
.font-weight-medium {
    font-weight: 600;
}

.font-weight-semibold {
    font-weight: 600;
}

.font-weight-bold {
    font-weight: 700;
}

.font-weight-extrabold {
    font-weight: 800;
}


/* SIZE */
.largeText {
    font-size: 2.2em;
}

.normalText {
    font-size: 1.4em;
}

.smallText {
    font-size: 1.1em;
}

/* LINE HEIGHT */
.lh-42 {
    line-height: 42px;
}