/* VARIABLES */
:root {
    /* --primary: #D257C4; */
    --greenButtons: #00E676;
}

* {
    font-family: urbanist, sans-serif;
    overflow-x: hidden;
    word-wrap: break-word;
}

#section1 {
    background-image: url('../assets/section1.webp');
    background-position: right 0px top 0px;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

#section2 {
    background-image: url('../assets/section2.webp');
    background-position: top 0px center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-bluefade {
    /* color: var(--Gradient, linear-gradient(18deg,#327A99 8.79%,#122C48 41.58%,#1A405D 81.51%,#0F2541 138.11%)); */
}

.btnParticipar {
    border-radius: 2px 2px 2px 2px;
    padding: 22px 0 22px 0;
    width: 100%;
    color: black;
    background-color: var(--greenButtons);
}

.btnParticipar:hover {
    color: black;
}